.invoice {
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 1rem 2rem;
    .invoice-container {
        background-color: white;
        width: clamp(20rem , 40vw , 40rem);
        height: fit-content;
        border: 2px solid black;
        color: black;

        .invoice-header {
            height: fit-content;
            border-bottom: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .invoice-left {
                order: 1;
                padding-right: 3rem;
                margin-bottom: 4rem;

                .invoice-meta {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    justify-content: space-around;
                }

                h1 {
                    font-size: clamp(2rem , 5vw , 5rem);
                    text-transform: uppercase;
                }
            }

            .invoice-right {
                padding-left: 1rem;
                margin-top: 4rem;

                h1 {
                    font-size: 1.5rem;
                }

                h2 {
                    font-size: 1rem;
                }
            }
        }

        .invoice-info {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 1rem;

            .invoice-data {
                display: flex;
                justify-content: space-between;
                font-weight: 900;
                padding-bottom: 0.6rem;
                border-bottom: 2px solid black;

                .data-1,
                .data-2 {
                    display: flex;
                    flex: 1;
                }

                .data-1 {
                    flex: 2;
                    padding-left: 1rem;
                }

                .data-2 {
                    justify-content: space-between;
                    flex: 3;

                }
            }

            .invoice-detail {
                display: flex;
                justify-content: space-between;
                margin-top: 0.5rem;

                .data-1 {
                    flex: 2;
                    padding-left: 1rem;
                }

                .data-2 {
                    display: flex;
                    justify-content: space-between;
                    flex: 3;

                }
            }

            .invoice-total {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                h1 {
                    width: 20%;
                    text-align: center;
                    border-top: 2px solid black;
                    display: inline-block;
                    margin-top: 6rem;
                    font-size: 1.5rem;
                }
            }

            .invoice-actions {
                align-items: center;
                justify-content: end;
                display: flex;
                margin-top: 4rem;

                button {
                    cursor: pointer;
                    padding: 1rem;
                    text-transform: capitalize;
                    font-size: 1.1rem;
                    font-weight: 900;
                    cursor: pointer;
                    color: white;
                    border-radius: 1rem;
                }
            }
        }

    }
}