.productDetailPage {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-family: 'Comic Relief';
    color: white;

    .mainpage {
        display: flex;
        width: 100%;
        height: 100%;


        .left {
            width: 50%;
            height: fit-content;
            display: flex;
            padding: 3rem 7rem;
            flex-direction: column;
            border-radius: 1em;

            .name {
                font-weight: 900;
                font-size: 3rem;
            }

            .price {
                font-size: 2rem;
                font-weight: lighter;
            }

            .description,
            .smalldescription {
                margin-top: 1rem;
                font-weight: 500;
                opacity: .8;
            }

            .rating {
                display: flex;
                justify-content: space-between;
                button {
                    padding: .5rem 1rem;
                    cursor: pointer;
                    border-radius: 1rem;
                    
                }
            }

            .btn {
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
                font-size: 1.3rem;

                button {
                    color: white;
                    padding: .3rem 1rem;
                    border-radius: .5rem;
                    cursor: pointer;
                }
            }
        }

        .right {
            width: 50%;
            height: 500px;
            display: flex;
            flex-direction: column;
            
            .mainimage {
                width: 70%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    border-radius: 4em;
                    box-shadow: 1px 1px 10px whitesmoke;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .boximage {
                width: 100%;
                height: 30%;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                margin-top: 1rem;

                img {
                    cursor: pointer;
                    border-radius: 1em;
                    flex-shrink: 0;
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
}

@media (max-width:967px) {
    .productDetailPage{
        .mainpage{
            flex-direction: column;
            align-items: center;
            .left{
                width: 100%;
                order: 1;
                padding: 3rem 1rem;
            }
            .right{
                width: 100%;
            }
        }
    }
}
@media (max-width:768px) {
    .productDetailPage{
        .mainpage{
            .right{
                flex-direction: row;
                .boximage{
                    width: 30%;
                    flex-direction: column;
                    margin-top: 0;
                }
            }
        }
    }
}